<div ng-controller="portfolioController as portfolio">
    <div class="heading">
        <a href="gallery">Все работы</a>
        <a ng-repeat="category in portfolio.categories" ng-href="gallery/?category={{category.id}}"
           ng-class="{'active':(portfolio.currentPreview.categories.indexOf(category.id) > -1)}">{{category.name}}</a>
    </div>
    <div class="menu">
        <div class="not-full-width" id="navigation-panel">
            <a class="current-page"><i class="trio-sign-top"></i><p class="caption"> {{ portfolio.currentPreview.alias }} </p></a>
            <a class="left-page" ng-click="portfolio.navigate(portfolio.previousPreview.pageUrl, 'left')"><i class="trio-sign-left"></i>{{ portfolio.previousPreview.alias }}</a>
            <a class="next-page" ng-click="portfolio.navigate(portfolio.nextPreview.pageUrl, 'right')">{{ portfolio.nextPreview.alias }} <i class="trio-sign-right"></i></a>
        </div>

    </div>


    <div ng-include src="'app/view/portfolio/' + portfolio.pageName + '.html'" class="portfolio-inner-page {{portfolio.pageName}}"></div>
</div>