<div ng-controller="pSmartAstanaController as smartAstana">
    <div class="view-welcome" >
        <div class="graph-d3"></div>

        <div class="not-full-width">
            <div class="sa-heading">
                <div class="caption" data-parallax='{"x" : 600}'>
                    SMART ASTANA
                </div>
                <div class="description">
                    Дашбоард c показателями<br> smart-сервисов города Астаны.
                </div>
            </div>
            <div class="devices">
                <img class="iMac" src="img/portfolio/smart-astana/iMac.png" data-parallax='{"x" : 100}'>
                <img class="iPad" src="img/portfolio/smart-astana/iPad-air.png" data-parallax='{"x" : -100}'>
                <img class="iPhone" src="img/portfolio/smart-astana/iPhone-5C-3D.png" data-parallax='{"x" : 100}'>
                <img class="iMacBook" src="img/portfolio/smart-astana/MacBook-Air.png" data-parallax='{"x" : -100}'>
            </div>
            <div class="sa-description" data-parallax='{"x" : -50}'>
                <b>Подробнее:</b> Smart.Astana.kz — это интеграция, консолидация и предоставление показателей смарт-сервисов г. Астана жителям и гостям столицы, их анализ и визуализация  в режиме реального времени в привлекательном и удобном виде как для настольных решений так и для мобильных дивайсов.
            </div>
        </div>
    </div>
    <div class="view-task">
        <div class="not-full-width">
            <div class="sa-heading" data-parallax='{"x" : 3000, "distance": 300}'>
                <b>ЗАДАЧА</b> Создание дашбоарда с информационными виджетами, который может адаптироваться под разную велИчину экрана.
            </div>
            <div class="sa-description">
                <i class="trio-sign-top"></i> Было принято решение найти аналоги городских дашбоардов в интернете. Хотелось понять и увидеть примерное визуальное решение такого рода проектов.
                <p class="description-accent">
                    ТОЧКОЙ СТАРТА СТАЛИ ТАКИЕ<br> “ГОРОДА - ПРОЕКТЫ” КАК:
                </p>
                <p><b>БОСТОН</b></p>
                <p><b>ЛОНДОН</b></p>
                <p><b>АМСТЕРДАМ</b></p>
            </div>
            <div class="dashboards">
                <img class="dash-london" src="img/portfolio/smart-astana/dash4.png" data-parallax='{"x" : 30, "y" : 12}' alt=""/>
                <img class="dash-citizen" src="img/portfolio/smart-astana/dash1.png" data-parallax='{"x" : -30, "y" : -14}' alt=""/>
                <img class="dash-donderdag" src="img/portfolio/smart-astana/dash2.png" data-parallax='{"x" : -120, "y" : -17}' alt=""/>
                <img class="dash-amsterdam" src="img/portfolio/smart-astana/dash3.png" data-parallax='{"x" : 75, "y" : -60}' alt=""/>

            </div>
        </div>

    </div>
    <div class="view-prototypes">
        <div class="not-full-width">
            <div class="sa-heading" data-parallax='{"x" : 100}'>
                В ходе исследования было созданно 5 прототипов.
            </div>
        </div>
        <div class="illustration">
            <div class="sa-description" data-parallax='{"x" : 1000, "distance": 300}'>
                <i class="trio-sign-top"></i> Мы эксперементировали с работой. Каждый дашбоард был создан в разной стилистике. Приоритет был отдан на ярким цветам, как отличнительный знак. Команда уделяла много внимания важности размеров у виджетов, и во всех прототипах виджет демонстрирующий одинаковую информацию был неординарен по размеру и по цвету.
            </div>
        </div>
    </div>
    <div class="view-widgets">
        <div class="bg-image" data-parallax='{"y" : -300, "distance": 1300}'></div>
        <div class="not-full-width">
            <div class="sa-description" data-parallax='{"y" : 280}'>
                <i class="trio-sign-top"></i> Был разработан UX, существенно подходящий под данный проект. Минимальный размер виджета составляет 160х160 px., что позволяет добавлять новые иноформационные виджеты или увеличивать их размер однократно, если предоставляется больше той информации которй было задуманно.
            </div>
            <div class="widgets-container" data-parallax='{"y" : -70}'>
                <div class="widget" data-parallax='{"y" : 160}'>
                    <img src="img/portfolio/smart-astana/widget-layer-1.png" alt=""/>
                </div>
                <div class="widget" style="top: 80px;" data-parallax='{"y" : 80}'>
                    <p class="hint hint-footer" data-parallax='{"x" : -10}'> Футер </p>
                    <p class="hint hint-slider" data-parallax='{"x" : -10}'> Слайдер "полезные ссылки" </p>
                    <p class="hint hint-widgets" data-parallax='{"x" : -10}'> Виджеты </p>
                    <img src="img/portfolio/smart-astana/widget-layer-2.png" alt=""/>
                </div>
                <div class="widget" style="top: 160px;" data-parallax='{"y" : -80}'>
                    <p class="hint hint-twitter" data-parallax='{"x" : -10}'> Твиттер лента </p>
                    <p class="hint hint-news" data-parallax='{"x" : -10}'> Новости </p>
                    <p class="hint hint-header" data-parallax='{"x" : -10}'> Хэдер </p>
                    <img src="img/portfolio/smart-astana/widget-layer-3.png" alt=""/>
                </div>

            </div>
        </div>
    </div>
    <div class="view-preview">
        <div class="not-full-width">
            <div class="mac-book">
                <img class="bg" src="img/portfolio/smart-astana/macBook-footer.png" alt=""/>
                <div class="screen">
                    <img src="img/portfolio/smart-astana/sa-screen-macbook.jpg" data-parallax='{"y" : -500, "from-scroll": 3800, "to-scroll": 4200}'>
                </div>
                <img class="bg" src="img/portfolio/smart-astana/macBook-footer-shine.png" alt=""/>
            </div>
            <div class="hint" data-parallax='{"y" : 500}'>
                <div class="row">
                    <div class="col s12 m5">
                        <div class="card-panel z-depth-2">
                            <i class="trio-sign-top"></i> Данный размер виджетов значительно облегчил задачу построения адаптивного дизайна. Что позволило легко воспроизвести информацию дашбоарда и на десктопах и на мобильных устройствах.
                        </div>
                    </div>
                </div>
            </div>
            <img class="mac-sa" src="img/portfolio/smart-astana/macSA.jpg" alt=""/>
            <img class="mac-sa" src="img/portfolio/smart-astana/logo.jpg" alt=""/>
            <div class="share-buttons">
                Поделиться:
                <span class='st_facebook_hcount' displayText='Facebook'></span>
                <span class='st_twitter_hcount' displayText='Tweet'></span>
                <span class='st_vkontakte_hcount' displayText='Vkontakte'></span>
            </div>
        </div>
    </div>
    <div class="not-full-width">
        <div class="gallery" ng-controller="galleryController as gallery">
            <a class="circle-box waves-effect waves-light z-depth-2" ng-repeat="preview in gallery.previews | shuffle | maxCount: 4" ng-style="{'background-image':'url(' + preview.imgURL + ')'}" ng-href="portfolio/?page={{preview.pageUrl}}">
                <p class="name" ng-bind="preview.name"></p>
            </a>
        </div>
    </div>

</div>