<div ng-controller="pSmartAstanaController as smartAstana">
    <div class="view-welcome" >
        <div class="graph-d3"></div>

        <div class="not-full-width">
            <div class="sa-heading">
                <div class="caption">
                    SMART ASTANA
                </div>
                <div class="description">
                    Дашбоард c показателями<br> smart-сервисов города Астаны.
                </div>
            </div>
            <div class="devices">
                <img class="iMac" src="img/portfolio/smart-astana/iMac.png">
                <img class="iPad" src="img/portfolio/smart-astana/iPad-air.png">
                <img class="iPhone" src="img/portfolio/smart-astana/iPhone-5C-3D.png">
                <img class="iMacBook" src="img/portfolio/smart-astana/MacBook-Air.png">
            </div>
            <div class="sa-description">
                <b>Подробнее:</b> Smart.Astana.kz — это интеграция, консолидация и предоставление показателей смарт-сервисов г. Астана жителям и гостям столицы, их анализ и визуализация  в режиме реального времени в привлекательном и удобном виде как для настольных решений так и для мобильных дивайсов.
            </div>
        </div>
    </div>
    <div class="view-task">
        <div class="not-full-width">
            <div class="sa-heading">
                <b>ЗАДАЧА</b> Создание дашбоарда с информационными виджетами, который может адаптироваться под разную велИчину экрана.
            </div>
            <div class="sa-description">
                <i class="trio-sign-top"></i> Было принято решение найти аналоги городских дашбоардов в интернете. Хотелось понять и увидеть примерное визуальное решение такого рода проектов.
                <p class="description-accent">
                    ТОЧКОЙ СТАРТА СТАЛИ ТАКИЕ<br> “ГОРОДА - ПРОЕКТЫ” КАК:
                </p>
                <p><b>БОСТОН</b></p>
                <p><b>ЛОНДОН</b></p>
                <p><b>АМСТЕРДАМ</b></p>
            </div>
            <div class="dashboards">
                <img class="dash-london" src="img/portfolio/smart-astana/dash4.png" alt=""/>
                <img class="dash-citizen" src="img/portfolio/smart-astana/dash1.png" alt=""/>
                <img class="dash-donderdag" src="img/portfolio/smart-astana/dash2.png" alt=""/>
                <img class="dash-amsterdam" src="img/portfolio/smart-astana/dash3.png" alt=""/>

            </div>
        </div>

    </div>
    <div class="view-prototypes">
        <div class="not-full-width">
            <div class="sa-heading">
                В ходе исследования было созданно 5 прототипов.
            </div>
        </div>
        <div class="illustration">
            <div class="sa-description">
                <i class="trio-sign-top"></i> Мы эксперементировали с работой. Каждый дашбоард был создан в разной стилистике. Приоритет был отдан на ярким цветам, как отличнительный знак. Команда уделяла много внимания важности размеров у виджетов, и во всех прототипах виджет демонстрирующий одинаковую информацию был неординарен по размеру и по цвету.
            </div>
        </div>
    </div>
</div>