<div class="video-container">
    <video autoplay  poster="public/video/intro.jpg" id="bgvid" loop>
        <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
        <source src="public/video/intro.webm" type="video/webm">
        <source src="public/video/intro.mp4" type="video/mp4">
    </video>
</div>
<div class="content">
        <div class="key-moments-block">
            <div class="key-moments-slide">
                <div class="not-full-width">
                    <div class="row row-style">
                        <div class="images-block">
                            <img src="public/img/lines.png" class="img-lines">
                            <img src="public/img/Layer5.png" class="cross">
                        </div>
                        <div class="process-block">
                            <img src="public/img/ttt.png" class="img-ttt">
                            <div class="block-text">
                                <div class="text-block">
                                    <div class="block-align-for-text">
                                        <div class="container-for-text">
                                            <p class="key-text">Отсутствие сложной иерархической цепочки.</p>
                                            <p class="key-text">Прозрачность процесса разработки проекта для клиента.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <p class="heading">ключевые моменты</p>
                </div>
            </div>
            <div class="key-moments-slide-number-two">
                <div class="not-full-width">
                    <div class="row-style">
                        <div class="img-block">
                            <img src="public/img/ttt-two.png" class="img-ttt">
                            <div class="block-text">
                                <div class="text-block">
                                    <div class="block-align-for-text">
                                        <div class="container-for-text">
                                            <p class="key-text">Отсутствие сложной иерархической цепочки.</p>
                                            <p class="key-text">Прозрачность процесса разработки проекта для клиента.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="heading-slide-two">ключевые моменты</p>
                </div>
            </div>
            <div class="key-moments-slide-number-tree">
                <div class="not-full-width">
                    <div class="row row-style">
                        <div class="img-block-komitet">
                            <img src="public/img/komitet.png" class="img-komitet">
                        </div>
                        <div class="center-block">
                            <img src="public/img/ttt-tree.png" class="img-ttt">
                            <div class="block-text">
                                <div class="text-block">
                                    <div class="block-align-for-text">
                                        <div class="container-for-text">
                                            <p class="key-center-slid">У нас нет каких то приоритетов для осоебнных клиентов.</p>
                                            <p class="key-center-slid">Мы одинаково любим работать как с клиентами малого бизнеса, так и с “гигантскими” государтсвенными машинами или корпорациями.</p>
                                            <img src="public/img/pekarny.png" class="img-bo-company">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-work-company">
                            <div class="block-text">
                                <div class="text-block">
                                    <div class="block-align-for-text">
                                        <div class="container-for-text">
                                            <p class="text-work-company"> Астана Innovations</p>
                                            <p class="text-work-company">Комитет государственных</p>
                                            <p class="text-work-company">доходов РК</p>
                                            <p class="text-work-company">Отдел социально-экономического мониторинга Администрации Президента</p>
                                            <p class="text-work-company">Astana Solar</p>
                                            <p class="text-work-company">Sponsy</p>
                                            <p class="text-work-company">G-Global</p>
                                            <p class="text-work-company">БРК-Лизинг</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="heading">ключевые моменты</p>
                </div>
            </div>
            <div class="key-moments-slide-number-four">
                <div class="not-full-width">
                    <div class="row-style">
                        <div class="stairs-block">
                            <img src="public/img/lesinka.png" class="img-stairs">
                        </div>
                        <div class="training">
                            <img src="public/img/ttt-foor.png" class="ttt">
                            <div class="block-text">
                                <div class="text-block">
                                    <div class="block-align-for-text">
                                        <div class="container-for-text">
                                            <p class="key-text" style="padding-left: 8%">Постоянное развитие и повышение квалицикации наших сотрудников </p>
                                            <p class="icons-text" style="margin-top: 80px"><i class="trio-sign-top"></i>Британская высшая школа дизайна</p>
                                            <p class="icons-text"><i class="trio-sign-top"></i>Проффесиональные курсы rubybursa.com</p>
                                            <p class="icons-text"><i class="trio-sign-top"></i>Школа программирования proglive.ru</p>
                                            <p class="icons-text"><i class="trio-sign-top"></i>Национальный открытый университет www.intuit.ru</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="heading">ключевые моменты</p>
                </div>
            </div>
        </div>
        <div class="development-process-phases" style="background: #fff">
            <div class="not-full-width">
                <div class="row row-style">
                    <div class="col s2 col-style-left">
                        <img src="public/img/earch.png" class="img-process">
                        <p class="text-process" style="padding-top: 10px;">Исследования</p>
                        <div class="arrow">

                        </div>
                    </div>
                    <div class="col s3 col-style-left">
                        <img src="public/img/tree-paper.png" class="img-process">
                        <p class="text-process" style="padding-top: 20px;">Прототипирование</p>
                        <div class="arrow" style="width: 330px">

                        </div>
                    </div>
                    <div class="col s3 col-style-left">
                        <img src="public/img/pen.png" class="img-process">
                        <p class="text-process" style="padding-top: 20px;">Визуализация</p>
                        <div class="arrow" style="width: 300px">

                        </div>
                    </div>
                    <div class="col s2 col-style-left">
                        <img src="public/img/gear.png" class="img-process">
                        <p class="text-process">Техническая<br>разработка</p>
                        <div class="arrow" style="width: 215px">

                        </div>
                    </div>
                    <div class="col s2 col-style-left">
                        <img src="public/img/bulb-def.png" class="img-process">
                        <p class="text-process">Обслуживание</p>
                        <div class="arrow">

                        </div>
                    </div>
                    <div class="col s10 description-text-block">
                        <p class="text-description">На этом этапе происходит техническая разработка проекта. Верстка, программирование, интеграция с административной частью сайта, тестирование.</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="gallery" ng-controller="galleryController as gallery">
        <div class="responsive-box" ng-repeat="preview in gallery.previews | maxCount: 8" ng-style="{'background-image':'url(' + preview.imgURL + ')'}">
            <a class="boxInner waves-effect waves-light" ng-href="portfolio/?page={{preview.pageUrl}}">
                <p class="name" ng-bind="preview.name"></p>
                <p class="description" ng-bind="preview.description"></p>
            </a>
        </div>
        <a href="gallery" class="btn-floating btn-large waves-effect waves-light amber accent-3">
            <i class="trio-pen"></i>
            <span> В<small>се работы</small> </span>
        </a>
    </div>
</div>








