<div ng-controller="homeController as homeController">
    <div class="video-container">
        <video autoplay  poster="public/video/intro.jpg" id="bgvid" loop>
            <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
            <source src="public/video/intro.webm" type="video/webm">
            <source src="public/video/intro.mp4" type="video/mp4">
        </video>
    </div>
    <div class="content">
        <div class="not-full-width">
            <p class="caption key-moments">КЛЮЧЕВЫЕ МОМЕНТЫ КОМПАНИИ</p>
        </div>
        <div class="slider">
            <div class="slide spheres">
                <div id="edge-spheres" class="EDGE-1636752">
                </div>
            </div>
            <div class="slide parymide">
                <div id="edge-parymide" class="EDGE-1946368">
                </div>
            </div>
            <div class="slide cofee_commitee">
                <div id="edge-cofee_commitee" class="EDGE-3425786">
                </div>
            </div>

            <div class="slide stairway">
                <div id="edge-stairway" class="EDGE-9038984">
                </div>
            </div>

        </div>
        <div class="development-process-phases" style="background: #fff">
            <div class="not-full-width">
                <div class="phases">
                    <div class="phase" ng-repeat-start="phase in homeController.phases"
                         ng-click="homeController.goToDescription($index)">
                        <img ng-src="{{phase.src.default}}" class="img-process">
                        <p class="text-process" ng-bind="phase.name"></p>
                    </div>
                    <div ng-repeat-end class="arrow" ng-hide="$last"
                         ng-class=" ($index < homeController.currentPhase) ? 'active' : ''">
                    </div>
                </div>
                <div class="description-slider" ng-show="homeController.ready">
                    <div class="my-slide" ng-repeat="phase in homeController.phases">
                        <p ng-bind="phase.description"></p>
                    </div>
                </div>

            </div>
        </div>
        <div class="gallery" ng-controller="galleryController as gallery">
            <div class="responsive-box" ng-repeat="preview in gallery.previews | maxCount: 8" ng-style="{'background-image':'url(' + preview.imgURL + ')'}">
                <a class="boxInner waves-effect waves-light" ng-href="portfolio/?page={{preview.pageUrl}}">
                    <p class="name" ng-bind="preview.name"></p>
                    <p class="description" ng-bind="preview.description"></p>
                </a>
            </div>
            <a href="gallery" class="btn-floating btn-large waves-effect waves-light amber accent-3">
                <i class="trio-pen"></i>
                <span> В<small>се работы</small> </span>
            </a>
        </div>
    </div>
</div>



