
// reset.scss

*, div, p, span, img, a, input{
    position: relative;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
}

.centerize {
    left: initial;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}

// main

body{
    .app{
        width: 100%;
        height: 100%;
        background-color: red;
        
        header{
            height: 120px;
            color: #ffffff;
            .centerize{
                height: 100%;
            }
            .left{
                width: 33.3%;
                text-align: left;
                left: initial;
                height: 100%;
                float: left;
            }
            .center{
                width: 33.3%;
                text-align: center;
                left: initial;
                height: 100%;
                float: left;
                
                .logo{
                    width: 100%;
                    max-width: 171px;
                    height: 100%;
                    left: initial;
                    background: url(images/Logo.svg);
                    background-repeat:no-repeat;
                    background-position: center center;
                    background-size: 100% auto;
                    margin: 0 auto;
                }
            }
            .right{
                width: 33.3%;
                text-align: right;
                left: initial;
                height: 100%;
                float: left;
            }
            .btn-header{
                border-radius: 50%;
                margin-top: 25px;
                margin-bottom: 25px;
                padding: 22px 33px;
            }
        }
    }
}