@import '../app/core/init';

.page-home {
  .video-container {
    height: 960px;
    @include respond-to(md) {
      height: auto;
    }
    @include respond-to(sm) {
      height: auto;
    }
    video {
      position: absolute;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      background-size: cover;
      transition: 1s opacity;
    }
  }
  .content {
    height: auto;
    width: 100%;
    .caption.key-moments{
      position: absolute;
      color: white;
      font-weight: 900;
      font-size: 36px;
      z-index: 1;
      margin: 0;
      margin-top: $margin;
      padding: $margin
    }
    .slider{
      height: 720px;
      .slide{
        width: 100%;
        height: 720px;
        background-size: cover !important;
        text-align: left;
        &.spheres{
          background: url('public/img/home/slider-bg1.jpg') center center no-repeat;

          #edge-spheres{
            margin: 0 auto;
          }
        }
        &.parymide{
          background: url('public/img/home/slider-bg2.jpg') center center no-repeat;
          #edge-parymide{
            top: 100px;
            margin: 0 auto;
          }
        }
        &.stairway{
          background: url('public/img/home/slider-bg3.jpg') center center no-repeat;
          #edge-stairway{
            margin: 0 auto;
          }
        }
        &.cofee_commitee{
          background: url('public/img/home/slider-bg4.jpg') center center no-repeat;
          #edge-cofee_commitee{
            margin: 0 auto;
          }
        }

      }

    }
    .development-process-phases{
      width: 100%;
      background: #fff;
      overflow: hidden;
      .not-full-width{
        max-width: 1305px;
        margin: 0 auto;
        padding: 40px;
        padding-top: 100px;
        padding-bottom: 50px;

        .phases{
          justify-content: space-between;
          display: flex;
          align-items: center;
          padding-bottom: 50px;
          .phase{
            cursor: pointer;
            display: inline-block;
            padding: 20px;
            border-radius: 20px;
            background: rgba(0,0,0, 0.001);
            transition: background 400ms;
            &:hover{
              background: rgba(0,0,0, 0.1);
            }
            .text-process{
              margin-bottom: 0;
            }
          }
          .arrow{
            display: inline-block;
            width: 43px;
            height: 30px;
            transition: background-image 400ms;
            background-image: url('public/img/arrow-hover.png');
            background-position: center;
            background-repeat: no-repeat;
            &.active{
              background-image: url('public/img/arrow-def.png');
            }
          }
        }
        .description{
          text-align: left;
        }
      }
    }
  }
}
