body, html{
  min-height: 100% !important;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: black;
  font-family: CoreSans;
}

div, span, img, a, p{
  position: relative;
}

/* make our pages be full width and full height */
/* positioned absolutely so that the pages can overlap each other as they enter and leave */
.page {
  padding-top: 1px;
  position: relative;
  text-align:center;
  top: 0;
  transform: translateZ(0);
  width:100%;
}


/* PAGES (specific colors for each page)
============================================================================= */

@keyframes enter_page {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes leave_page {
  0% { opacity:1;}
  100% { opacity: 0; }
}

.page{
  &.ng-enter{
    animation: enter_page 1s linear;
  }
  &.ng-leave{
    animation: leave_page 1s linear;
  }
  display:block;
  width:100%;
}




