/* make our pages be full width and full height */
/* positioned absolutely so that the pages can overlap each other as they enter and leave */
.page        {
  bottom:0;
  position:absolute;
  text-align:center;
  top:0;
  transform: translateZ(0);
  width:100%;
}

.page h1    { font-size:60px; }
.page a     { margin-top:50px; }


/* PAGES (specific colors for each page)
============================================================================= */

.page.ng-enter, .page.ng-leave {
  -webkit-transition:transform linear 0.4s, opacity linear 0.4s;
  transition:transform linear 0.4s, opacity linear 0.4s;

  display:block;
  width:100%;
  border-left:1px solid black;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.page.ng-enter {
  transform: translateY(10%);
  position: fixed;
  opacity: 0.2;
}
.page.ng-enter.ng-enter-active {
  transform: translateY(0%);
  opacity: 1;
}
.page.ng-leave.ng-leave-active {
  transform: translateY(-5%);
  position: fixed;
  opacity: 0.2;
}





