@import '../app/core/init';

.page-home{
  .parallax-container {
    height: 960px;
    @include respond-to(md){
      height: auto;
    }
    @include respond-to(sm){
      height: auto;
    }
    img{

    }
  }
  .content{
    height: auto;
    background-color: white;
    width: 100%;
    background: red;
    .key-moments-block{
      width: 100%;
      background: blue;
      .key-moments-slide{
        width: 100%;
        background: #eac12e;
        .heading{
          position: absolute;
          top: 0px;
          text-align: left;
          padding-left: 35px;
          padding-right: 35px;
          color: #fff;
          font-family: CoreSans;
          font-weight: 900;
          font-size: 20pt;
          width: 100%;
        }
        .row-style{
          margin-bottom: 0px;
          .col-style-left{
            background: green;
            .img-left-slid{
              position: relative;
              max-width: 80%;
              margin-top: 130px;
              width: 1920px;
              margin-bottom: 130px;
            }
          }
          .col-style-right{
            background: #ffff00;
            .img-left-slid{
              position: relative;
              max-width: 80%;
              margin-top: 130px;
              width: 1920px;
              margin-bottom: 130px;
            }
            .block-text{
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              .text-block{
                display: table;
                width: 100%;
                height: 100%;
                .bla{
                  display: table-cell;
                  width: 100%;
                  height: 100%;
                  text-align: center;
                  vertical-align: middle;
                  .bla1{
                    width: 80%;
                    .key-text{
                      position: relative;
                      text-align: left;
                      color: #fff;
                      font-family: CoreSans;
                      font-weight: 500;
                      font-size: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}