@import '../app/core/init';

.page-home{
  .parallax-container {
    height: 960px;
    @include respond-to(md){
      height: auto;
    }
    @include respond-to(sm){
      height: auto;
    }
    img{

    }
  }
  .content{
    height: auto;
    background-color: white;
    width: 100%;
    background: red;
    .key-moments-block{
      width: 100%;
      height: 675px;
      background: blue;
      .key-moments-slide{
        height: 675px;
        width: 100%;
        background: #eac12e;
        .heading{
          position: absolute;
          top: 0px;
          padding-left: 35px;
          padding-right: 35px;
          color: #fff;
          font-family: CoreSans;
          font-weight: 900;
          font-size: 20pt;
          width: 100%;
        }
        .row-style{
          height: 675px;
          .col-style{
            height: 675px;
            background: green;
          }
          .col-style1{
            height: 675px;
            background: #ffff00;
          }
        }
      }
    }
  }
}