@import '../app/core/init';

.page-home {
  .parallax-container {
    height: 960px;
    @include respond-to(md) {
      height: auto;
    }
    @include respond-to(sm) {
      height: auto;
    }
    video {
      position: absolute;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
      background-size: cover;
      transition: 1s opacity;
    }
  }
  .content {
    height: auto;
    background-color: white;
    width: 100%;
    background: red;
    .key-moments-block {
      width: 100%;
      .key-moments-slide {
        width: 100%;
        background: #eac12e;
        .not-full-width {
          max-width: 1305px;
          margin: 0 auto;
          .row-style {
            margin-bottom: 0px;
            .col-style-left {
              z-index: 1;
              .img-left-slid {
                position: relative;
                max-width: 100%;
                margin-top: 130px;
                width: 1920px;
                margin-bottom: 45px;
              }
              .komitet-style{
                max-width: 105%;
              }
              .cross {
                position: absolute;
                max-width: 130%;
                margin-top: 70px;
                width: 1920px;
                margin-bottom: 130px;
                left: -12%;
                top: 0;
              }
            }
            .col-style-right {
              .img-left-slid {
                position: relative;
                max-width: 100%;
                margin-top: 130px;
                width: 1920px;
                margin-bottom: 35px;
              }
              .style-add{
                margin-top: 55px;
              }
              .right-slid-text{
                position: relative;
                text-align: left;
                color: #b793b8;
                font-family: CoreSans;
                font-weight: 500;
                font-size: 17px;
                line-height: 20px;
                margin-bottom: 10px;
                margin-top: 225px;
              }
              .img-center-slid {
                position: relative;
                max-width: 70%;
                margin-top: 37px;
                width: 1920px;
                margin-bottom: 35px;
                margin-left: 20%;
                top: 60px;
              }
            }
          }
        }
        .heading {
          position: absolute;
          top: 0px;
          text-align: left;
          padding-left: 35px;
          padding-right: 35px;
          color: #fff;
          font-family: CoreSans;
          font-weight: 900;
          font-size: 20pt;
          width: 100%;
          z-index: 2;
        }

        .block-text {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          .text-block {
            display: table;
            width: 100%;
            height: 100%;
            .bla {
              display: table-cell;
              width: 100%;
              height: 100%;
              text-align: center;
              vertical-align: middle;
              .bla1 {
                width: 80%;
                .key-text {
                  position: relative;
                  text-align: left;
                  color: #fff;
                  font-family: CoreSans;
                  font-weight: 500;
                  font-size: 20px;
                  display: inline-block;
                  width: 80%;
                  left: 12%;
                  line-height: 25px;
                  margin-bottom: 10px;
                  margin-top: 10px;
                }
                .key-center-slid {
                  position: relative;
                  text-align: center;
                  color: #fff;
                  font-family: CoreSans;
                  font-weight: 500;
                  font-size: 20px;
                  display: inline-block;
                  width: 95%;
                  left: 12%;
                  line-height: 25px;
                  margin-bottom: 10px;
                  margin-top: 0px;
                  top: 60px;
                }
              }
            }
          }
        }
      }
    }
  }
}
