<div class="parallax-container">
    <video autoplay  poster="data/video/intro.jpg" id="bgvid" loop>
        <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
        <source src="data/video/intro.webm" type="video/webm">
        <source src="data/video/intro.mp4" type="video/mp4">
    </video>
</div>
<div class="content">
        <div class="key-moments-block">
            <div class="key-moments-slide">
                <div class="not-full-width">
                    <div class="row row-style">
                        <div class="col s12 m6 col-style-left">
                            <img src="img/lines.png" class="img-left-slid">
                            <img src="img/Layer5.png" class="cross">
                        </div>
                        <div class="col s12 m6 col-style-right">
                            <img src="img/ttt.png" class="img-left-slid">
                            <div class="block-text">
                                <div class="text-block">
                                    <div class="bla">
                                        <div class="bla1">
                                            <p class="key-text">Отсутствие сложной иерархической цепочки.</p>
                                            <p class="key-text">Прозрачность процесса разработки проекта для клиента.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <p class="heading">ключевые моменты</p>
                </div>
            </div>
            <div class="key-moments-slide" style="background: #20ba73">
                <div class="not-full-width">
                    <div class="row row-style">
                        <div class="col s12 m6 col-style-left">
                            <img src="img/ttt-two.png" class="img-left-slid">
                            <div class="block-text">
                                <div class="text-block">
                                    <div class="bla">
                                        <div class="bla1">
                                            <p class="key-text">Отсутствие сложной иерархической цепочки.</p>
                                            <p class="key-text">Прозрачность процесса разработки проекта для клиента.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 col-style-right">

                        </div>
                    </div>
                    <p class="heading">ключевые моменты</p>
                </div>
            </div>
            <div class="key-moments-slide" style="background: #8c4f8e">
                <div class="not-full-width">
                    <div class="row row-style">
                        <div class="col s12 m3 col-style-left">
                            <img src="img/komitet.png" class="img-left-slid komitet-style">
                        </div>
                        <div class="col s12 m6 col-style-right">
                            <img src="img/ttt-tree.png" class="img-left-slid style-add">
                            <div class="block-text">
                                <div class="text-block">
                                    <div class="bla">
                                        <div class="bla1">
                                            <p class="key-center-slid">У нас нет каких то приоритетов для осоебнных клиентов.</p>
                                            <p class="key-center-slid">Мы одинаково любим работать как с клиентами малого бизнеса, так и с “гигантскими” государтсвенными машинами или корпорациями.</p>
                                            <img src="img/pekarny.png" class="img-center-slid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m3 col-style-right">
                            <p class="right-slid-text"> Астана Innovations<br><br>

                                Комитет государственных<br><br>
                                доходов РК<br><br>

                                Отдел социально-экономического мониторинга Администрации Президента<br><br>

                                Astana Solar<br><br>

                                Sponsy<br><br>

                                G-Global<br><br>

                                БРК-Лизинг</p>
                        </div>
                    </div>
                    <p class="heading">ключевые моменты</p>
                </div>
            </div>
            <div class="key-moments-slide" style="background: #e34040">
                <div class="not-full-width">
                    <div class="row row-style">
                        <div class="col s12 m6 col-style-left">
                            <img src="img/lesinka.png" class="img-left-slid">
                        </div>
                        <div class="col s12 m6 col-style-right">
                            <img src="img/ttt-tree.png" class="img-left-slid">
                            <div class="block-text">
                                <div class="text-block">
                                    <div class="bla">
                                        <div class="bla1">
                                            <p class="key-text">Отсутствие сложной иерархической цепочки.</p>
                                            <p class="key-text">Прозрачность процесса разработки проекта для клиента.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="heading">ключевые моменты</p>
                </div>
            </div>
        </div>
    <div class="gallery" ng-controller="galleryController as gallery">
        <div class="responsive-box" ng-repeat="preview in gallery.previews | shuffle | maxCount: 8" style="{{'background-image: url(\'' + preview.imgURL + '\');'}}">
            <a class="boxInner" href="{{preview.pageUrl}}">
                <p class="name" ng-bind="preview.name"></p>
                <p class="description" ng-bind="preview.description"></p>
            </a>
        </div>
        <a href="gallery" class="btn-floating btn-large waves-effect waves-light amber accent-3">
            <i class="trio-pen"></i>
            <span> В<small>се работы</small> </span>
        </a>
    </div>
</div>








