<div class="parallax-container">
    <div class="parallax"><img src="img/home-background.jpg"></div>
</div>
<div class="content">
    <div class="key-moments-block">
        <div class="key-moments-slide">
            <div class="row row-style">
                <div class="col s12 m6 col-style-left">
                    <img src="img/lines.png" class="img-left-slid">
                </div>
                <div class="col s12 m6 col-style-right">
                    <img src="img/ttt.png" class="img-left-slid">
                    <div class="block-text">
                        <div class="text-block">
                            <div class="bla">
                                <div class="bla1">
                                    <p class="key-text">Отсутствие сложной иерархической цепочки.</p>
                                    <p class="key-text">Прозрачность процесса разработки проекта для клиента.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="heading">ключевые моменты</p>
        </div>
    </div>
</div>







