@import 'core/init';

body {
  &.down{
    .header-modal{
      opacity: 0;
    }
    .header-modal.sticky{
      opacity: 1;
      transform: translateY(0px);
    }
    .header.sticky {
      transform: translateY(0px);
      .header-btn{
        &:hover{
          background-color: #F3C82F;
          color: white;
        }
      }
    }
  }

  &.has-menu, &.has-contact{
    overflow: hidden;
    .header{
      .header-btn{
        opacity: 0;
      }
      .logo-trio{
        opacity: 0;
      }
    }
  }

  &.has-contact{
    .modal-contact{
      .header-modal{
        color: #333;
      }
      z-index: 2000;
      opacity: 1;
    }
  }
  &.has-menu{
    .modal-menu{
      .header-modal{
        color: white;
      }
      z-index: 2000;
      opacity: 1;
    }
  }
}

.not-full-width {
  max-width: 1305px;
  width: 100%;
  margin: 0 auto;
}

#appCtrl{
  min-height: 70%;
}

.header, .header-modal{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  z-index: 200;
  color: #ffffff;
  transition: opacity $animation-time;
  &.black-header{
    color: #2a2a2a;
  }
  &.sticky{
    z-index: 1000;
    opacity: 1;
    position: fixed;
    transform: translateY(-200px);
    transition: 0.4s transform;
    background-color: white;
    color: #2a2a2a;
    .header-btn{
      margin: 20px;
      font-size: 18px;
      padding: 8px 20px;

      .trio-sign-top, .trio-close{
        font-size: 16px;
        position: relative;
        margin-right: 10px;
      }

      &.left{
        margin-left: 28px;
      }
      &.right{
        margin-right: 28px;
      }
    }
    .logo-trio{
      margin-top: 26px;
      width: 150px;
    }
    &.header-modal{
      background-color: transparent;
    }
  }
  .header-btn{
    top: 0;
    margin: 30px;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid;
    border-color: inherit;
    text-align: center;
    vertical-align: middle;
    color: inherit;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color $animation-time, color $animation-time, border $animation-time, opacity $animation-time;

    .trio-sign-top, .trio-close{
      font-size: 19px;
      position: relative;
      margin-right: 10px;
    }

    &:hover{
      background-color: #F3C82F;
      border-color: transparent;
      color: #232219;
    }
    &.left{
      float: left;
      margin-left: 40px;
    }
    &.right{
      float: right;
      margin-right: 40px;
    }
  }

  .logo-trio{
    width: 170px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    display: block;

    transition: opacity $animation-time;
  }

  &.fixed{
    background-color: white;
    color: #232219;
    .header-btn{
      border: 2px solid #232219;
      &:hover{
        background-color: #232219;
        color: white;
      }
    }
  }
}

.gallery{
  text-align: left;
  background-color: white;
  display: table;
  min-width: 100%;
  .responsive-box {
    float: left;
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all $animation-time;
    &:hover{
      background-size: 104% 104%;
      .boxInner{
        opacity: 1;
        .name{
          margin-top: 0;
        }
      }
    }

    .boxInner {
      position: absolute;
      background-color: rgba(0,0,0,0.75);
      overflow: hidden;
      height: 100%;
      width: 100%;
      opacity: 0;
      transform: translateZ(0);
      transition: opacity $animation-time;
      color: white;
      text-decoration: none;
      padding: 60px;

      @include response(1700px, 4560px){
        padding: 60px;
      }
      @include response(1450px, 1700px){
        padding: 50px;
      }
      @include response(1100px, 1450px){
        padding: 40px;
      }
      @include response(600px, 1100px){
        padding: 40px;
      }
      @include response(480px, 600px){
        padding: 60px;
      }
      .name{
        margin-top: -20px;
        margin-bottom: 40px;
        font-size: 22px;
        font-weight: 900;
        transition: margin $animation-time;
        @include response(1700px, 4560px){
          font-size: 32px;
        }
        @include response(1450px, 1700px){
          font-size: 24px;
        }
        @include response(1100px, 1450px){
          font-size: 20px;
        }
        @include response(600px, 1100px){
          font-size: 18px;
        }
        @include response(480px, 600px){
          font-size: 32px;
        }
      }
      .description{
        font-size: 14px;
        font-weight: 400;
        @include response(1700px, 4560px){
          font-size: 18px;
        }
        @include response(1450px, 1700px){
          font-size: 16px;
        }
        @include response(1100px, 1450px){
          font-size: 13px;
        }
        @include response(700px, 1100px){
          font-size: 13px;
        }
        @include response(480px, 600px){
          font-size: 18px;
        }
      }
    }
  }
  .btn-floating{
    left: 50%;
    margin-left: -87.75px;
    border-radius: 87.75px;
    top: 20px;
    position: absolute;
    width: 170px !important;
    color: white;
    white-space: nowrap;
    transition: width $animation-time, color $animation-time;

    i{
      position: absolute;
      color: inherit;
      width: auto;
      left: 14px;
    }
    span{
      margin-left: 60px;
      margin-right: 60px;
    }
    font-weight: 900;

  }
  @media only screen and (max-width : 480px) {
    /* Smartphone view: 1 tile */
    .responsive-box {
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    .responsive-box {
      width: 50%;
      padding-bottom: 50%;
    }
  }
  @media only screen and (max-width : 1050px) and (min-width : 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .responsive-box {
      width: 33.3%;
      padding-bottom: 33.3%;
    }
  }
  @media only screen and (max-width : 1290px) and (min-width : 1051px) {
    /* Medium desktop: 4 tiles */
    .responsive-box {
      width: 25%;
      padding-bottom: 25%;
    }
  }
}
.social-icon{
  margin: 28px 6px;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  line-height: 38px;
  font-size: 16px;
  transition: $animation-time;
  &:hover{
    background-color: white;
    color: #333333;
  }
  @include response(1100px, 4560px){
    margin: 28px 6px;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  @include response(600px, 1100px){
    margin: 10px 5px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 27px;
  }
  @include response(100px, 600px){
    margin: 18px 4px;
    width: 25px;
    height: 25px;
    font-size: 11px;
    line-height: 23px;
  }
}
.footer{
  display: table;
  width: 100%;
  .responsive-box {
    float: left;
    position: relative;
    width: 50%;
    padding-bottom: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .boxInner {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    transform: translateZ(0);
    background: transparent;
    .about-information{
      padding: 40px;
      color: #ffffff;
      font-size: 28px;
      text-align: left;
      @include response(1700px, 4560px){
        font-size: 28px;
      }
      @include response(1450px, 1700px){
        font-size: 18px;
      }
      @include response(1100px, 1450px){
        font-size: 17px;
      }
      @include response(600px, 1100px){
        font-size: 13px;
      }
      @include response(100px, 600px){
        font-size: 14px;
      }
    }
  }
  .ymaps-layers-pane{
    filter: grayscale(100%);
  }
  .ymaps-copyrights-pane{
    display: none;
  }
  @media only screen and (max-width : 480px) {
    /* Smartphone view: 1 tile */
    .responsive-box {
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 1 tiles */
    .responsive-box {
      width: 100%;
      padding-bottom: 50%;
    }
  }
  @media only screen and (max-width : 1290px) and (min-width : 1051px) {
    /* Medium desktop: 2 tiles */
    .responsive-box {
      width: 50%;
      padding-bottom: 25%;
    }
  }
}
.modal-menu {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  height: 100%;
  overflow-y: auto;
  color: white;
  opacity: 0;
  transition: opacity $animation-time*2, z-index $animation-time*2;
  background: #30243e;
  background: linear-gradient(135deg, rgba(48, 36, 62, 0.92) 0%, rgba(140, 157, 169, 0.92) 46%, rgba(212, 220, 212, 0.93) 100%);

  #menu-list{
    li{

      .trio-sign-top{
        top: -15px;
        position: relative;
        margin-right: 50px;
        &::before{
          position: absolute;
          top: 0;
          left: 0;
          transition: transform $animation-time * 2;
          transform: rotate(0deg);
        }

      }
      a.menu-link{
        transition: padding $animation-time * 2;
        color: white;
        font-size: 20px;
        .menu-caption{
          font-size: 54px;
          font-weight: 900;
        }
      }
      &:hover{
        a.menu-link{
          padding-left: 20px;
          i{
            &::before{
              transform: rotate(90deg);
            }
          }
        }

      }

      &.menu-about{
        padding-left: 50px;
      }
    }
  }

  .vertical-container {
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .vertical-content {
      text-align: left;
      vertical-align: top;
      padding: 80px;
      padding-top: 140px;
      display: table-cell;
    }
  }
  z-index: -100;
}

.modal-contact{
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  height: 100%;
  overflow-y: auto;
  opacity: 0;
  transition: opacity $animation-time*2, z-index $animation-time*2;
  background-color: rgba(255, 255, 255, 0.94);
  z-index: -100;
  .vertical-container{
    display: table;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    .vertical-content{
      text-align: center;
      vertical-align: middle;
      padding: 120px;
      display: table-cell;
    }
  }

  //form colors

  /* label color */
  .input-field label {
    color: #000;
    font-size: 19px;
    font-weight: 500;
  }

  .input-field input{
    font-size: 19px;
    font-weight: 500;
  }

  /* label focus color */
  .input-field input:focus + label {
    color: #2d19aa !important;
    font-size: 14px;
  }
  /* label underline focus color */
  .input-field input:focus {
    border-bottom: 1px solid #2d19aa;
    box-shadow: 0 1px 0 0 #2d19aa;
  }
  /* valid color */
  .input-field input.valid {
    border-bottom: 1px solid #2d19aa;
    box-shadow: 0 1px 0 0 #2d19aa;

    & + label {
      font-size: 14px !important;
    }
  }
  /* invalid color */
  .input-field input.invalid {
    border-bottom: 1px solid #c05b27;
    box-shadow: 0 1px 0 0 #c05b27;

    & + label {
      font-size: 14px !important;
    }
  }


  .input-field textarea{
    font-size: 19px !important;
    font-weight: 500;
  }

  /* label focus color */
  .input-field textarea:focus + label {
    color: #2d19aa !important;
    font-size: 14px;
  }
  /* label underline focus color */
  .input-field textarea:focus {
    border-bottom: 1px solid #2d19aa;
    box-shadow: 0 1px 0 0 #2d19aa;
  }
  /* valid color */
  .input-field textarea.valid {
    border-bottom: 1px solid #2d19aa;
    box-shadow: 0 1px 0 0 #2d19aa;

    & + label {
      font-size: 14px !important;
    }
  }
  /* invalid color */
  .input-field textarea.invalid {
    border-bottom: 1px solid #c05b27;
    box-shadow: 0 1px 0 0 #c05b27;

    & + label {
      font-size: 14px !important;
    }
  }


  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #2d19aa;
  }
}
