@import 'core/init';

.header{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: fixed;
  z-index: 1000;
  color: #ffffff;
  .header-btn{
    top: 0;
    margin: 30px;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid white;
    text-align: center;
    vertical-align: middle;
    color: inherit;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color $animation-time, color $animation-time;
    &:hover{
      background-color: #fff;
      border-color: white;
      color: #232219;
    }
    &.left{
      float: left;
      margin-left: 40px;
    }
    &.right{
      float: right;
      margin-right: 40px;
    }
  }

  .logo-trio{
    width: 170px;
    height: 40px;
    margin: 0 auto;
    margin-top: 40px;
    background: url("img/logo.png");
  }

  &.fixed{
    background-color: white;
    color: #232219;
    .header-btn{
      border: 2px solid #232219;
      &:hover{
        background-color: #232219;
        color: white;
      }
    }
  }
}
.gallery{
  text-align: left;
  .responsive-box {
    float: left;
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    &:hover{
      .boxInner{
        opacity: 1;
      }
    }

    .boxInner {
      position: absolute;
      background-color: rgba(0,0,0,0.75);
      overflow: hidden;
      height: 100%;
      width: 100%;
      opacity: 0;
      transform: translateZ(0);
      transition: opacity $animation-time;
      color: white;
      text-decoration: none;
      padding: 22px;
      .name{
        font-size: 22px;
        font-weight: 900;
        @include response(1700px, 4560px){
          font-size: 32px;
        }
        @include response(1450px, 1700px){
          font-size: 24px;
        }
        @include response(1100px, 1450px){
          font-size: 20px;
        }
        @include response(600px, 1100px){
          font-size: 18px;
        }
        @include response(480px, 600px){
          font-size: 17px;
        }
      }
      .description{
        font-size: 14px;
        font-weight: 400;
        @include response(1700px, 4560px){
          font-size: 18px;
        }
        @include response(1450px, 1700px){
          font-size: 16px;
        }
        @include response(1100px, 1450px){
          font-size: 13px;
        }
        @include response(700px, 1100px){
          font-size: 13px;
        }
        @include response(480px, 600px){
          font-size: 12px;
        }
      }
    }
  }
  .btn-floating{
    left: 50%;
    margin-left: -27.75px;
    border-radius: 27.75px;
    top: 20px;
    position: absolute;
    white-space: nowrap;
    transition: width $animation-time;
    &:hover {
      width: 200px;
      img{
        left: -5px;
      }
      span{
        max-width: 160px;
        opacity: 1;
      }
    }
    font-weight: 900;
    span{

      max-width: 1px;
      opacity: 0;
      transition: opacity $animation-time, max-width $animation-time;
      display: inline-block;
      padding: 0;
    }
    img{
      left: 3px;
      transition: left $animation-time;
      top: 5px;
      display: inline;
    }
  }
  @media only screen and (max-width : 480px) {
    /* Smartphone view: 1 tile */
    .responsive-box {
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    .responsive-box {
      width: 50%;
      padding-bottom: 50%;
    }
  }
  @media only screen and (max-width : 1050px) and (min-width : 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .responsive-box {
      width: 33.3%;
      padding-bottom: 33.3%;
    }
  }
  @media only screen and (max-width : 1290px) and (min-width : 1051px) {
    /* Medium desktop: 4 tiles */
    .responsive-box {
      width: 25%;
      padding-bottom: 25%;
    }
  }
}
.footer{
  .responsive-box {
    float: left;
    position: relative;
    width: 50%;
    padding-bottom: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .boxInner {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    transform: translateZ(0);
    background: transparent;
  }
  .ymaps-layers-pane{
    filter: grayscale(100%);
  }
  .ymaps-copyrights-pane{
    display: none;
  }
  @media only screen and (max-width : 480px) {
    /* Smartphone view: 1 tile */
    .responsive-box {
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 1 tiles */
    .responsive-box {
      width: 100%;
      padding-bottom: 50%;
    }
  }
  @media only screen and (max-width : 1290px) and (min-width : 1051px) {
    /* Medium desktop: 2 tiles */
    .responsive-box {
      width: 50%;
      padding-bottom: 25%;
    }
  }
}