@import 'core/init';

.header{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: fixed;
  z-index: 1000;
  color: #ffffff;
  .header-btn{
    top: 0;
    margin: 30px;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid white;
    text-align: center;
    vertical-align: middle;
    color: inherit;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color $animation-time, color $animation-time;
    &:hover{
      background-color: #fff;
      border-color: white;
      color: #232219;
    }
    &.left{
      float: left;
      margin-left: 40px;
    }
    &.right{
      float: right;
      margin-right: 40px;
    }
  }

  .logo-trio{
    width: 170px;
    height: 40px;
    margin: 0 auto;
    margin-top: 40px;
    background: url("img/logo.png");
  }

  &.fixed{
    background-color: white;
    color: #232219;
    .header-btn{
      border: 2px solid #232219;
      &:hover{
        background-color: #232219;
        color: white;
      }
    }
  }
}

.footer{
  .box {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    &.double{
      width: 50%;
      padding-bottom: 25%;
      overflow: hidden;

      .boxInner{
        opacity: 1;
        background-color: transparent;
      }
    }
    &:hover{
      .boxInner{
        opacity: 1;
      }
    }
  }
  .boxInner {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: translateZ(0);
    transition: opacity $animation-time;
  }
  .ymaps-layers-pane{
    filter: grayscale(100%);
  }
  .ymaps-copyrights-pane{
    display: none;
  }
  @media only screen and (max-width : 480px) {
    /* Smartphone view: 1 tile */
    .box {
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    .box {
      width: 50%;
      padding-bottom: 50%;
    }
  }
  @media only screen and (max-width : 1050px) and (min-width : 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .box {
      width: 33.3%;
      padding-bottom: 33.3%;
    }
  }
  @media only screen and (max-width : 1290px) and (min-width : 1051px) {
    /* Medium desktop: 4 tiles */
    .box {
      width: 25%;
      padding-bottom: 25%;
    }
  }
  @media only screen and (max-width : 4000px) and (min-width : 1290px) {
    /* Medium desktop: 4 tiles */
    .box {
      width: 25%;
      padding-bottom: 25%;
    }
  }
}