@mixin fontFace($family,$src,$weight: normal,$style: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$src}.eot'); // IE9 compat
    src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
    url('#{$src}.woff') format('woff'), // standards
    url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
    url('#{$src}.svg##{$family}') format('svg'); // legacy iOS

    font-style: $style;
    font-weight: $weight;
  }
}

$break-small: 600px;
$break-large: 992px;

@mixin respond-to($media) {
  @if $media == sm {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  }
  @else if $media == md {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  }
  @else if $media == lg {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

@mixin response($min, $max) {

    @media only screen and (min-width: $min + 1) and (max-width: $max - 1) {
      @content;
    }
}